<h1> <%= @contact.first_name + " " + @contact.last_name %> </h1> <br>
<h3> Job Title: <%= @contact.job_title %>  </h3>
<h3> Company: <%= @contact.company %>  </h3>

<a href="javascript:history.back()">Go Back</a>
<a href="/">Home Page</a>
